* {
    margin: 0;
    padding: 0;
}
ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
    font-size: 2.6667vw;
    /* 10px */
}
a {
    text-decoration: none;
}

@font-face {
    font-family: "AaHouDiHei-Regular";
    src: url("/Aa厚底黑/Aa厚底黑.ttf") format("truetype");
}
